*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    font-size: 16px;
}

.left .insta-image img {
    position: absolute;
    margin: 20px 0px 0px 240px;
}

.right {
    position: absolute;
    margin: 50px 0px 0px 710px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    height: 410px;
    width: 350px;
}

.right a img{
    position: absolute;
    margin: 20px 0 0 70px;
}

.form #text {
    font-size: 12px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 120px 0px 0px 40px;
    width: 280px;
    border: 1px solid #b7b5b5;
    border-radius: 5px;
}

.form #password {
    font-size: 12px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    width: 280px;
    border: 1px solid #b7b5b5;
    border-radius: 3px;
    margin: 5px 0px 0px 40px;
}

.btn-1 button {
    border-radius: 5px;
    width: 280px;
    background-color: rgb(0 149 255 / 62%);
    padding: 5px;
    margin: 15px 0px 0px 40px;
    border: 0;
}

.btn-1 button:hover{
    background-color: rgb(0, 132, 255);
}

.btn-1 button a {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}

.line1 {
    border-bottom: 1px solid #b7b7b7;
    margin: 30px 200px 0px 45px;
}

p {
    position: absolute;
    font-size: 15px;
    color: rgb(191, 191, 191);
    display: inline-block;
    margin: -8px 0 0 160px;
}

.line2 {
    border-bottom: 1px solid #b7b7b7;
    margin: 0 40px 0 200px;
}

.social-link {
    position: absolute;
    margin: 20px 0 0 70px;
}

.fa-xl {
    font-size: 1.6em;
    line-height: .04167em;
    vertical-align: -.125em;
    border-radius: 4px;
    padding: 15px 5px 15px 5px;
    color: #2c60ff;
}

/* .social-link .fa-xl:hover {
    transition: all 0.3s;
    color: white;
    background-color: #2c60ff;
} */

#fb-a-1 {
    position: absolute;
    margin: 28px 0px 0px 110px;
    font-size: 15px;
    font-family: math;
}

#fb-a-1:hover{
    text-decoration: underline;
}

#fb-a-2:hover{
    text-decoration: underline;
}

#fb-a-2 {
    position: absolute;
    margin: 90px 0px 0px 100px;
    font-size: 12px;
    font-family: math;
}

.right-2 {
    position: absolute;
    margin: 470px 0px 0px 710px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    height: 60px;
    width: 350px;
}

.right-2 p {
    margin: 20px 0px 0px 80px;
    color: black;
    font-size: 15px;
    font-family: math;
}

.right-2 a:hover{
    text-decoration: underline;
}